In [1]:
import os
import pandas
import numpy as np
import HighD_Columns as HC 
import NGSIM_Columns as NC

In [2]:
ngsim_dataset = "./ngsim/Next_Generation_Simulation__NGSIM__Vehicle_Trajectories_and_Supporting_Data.csv"

df = pandas.read_csv(ngsim_dataset)

In [3]:
ngsim = []
locations = ['us-101', 'i-80']
for location in locations:
    ngsim.append(df[df[NC.LOCATION]==location])

In [5]:
for i, location in enumerate(locations):
    ngsim[i] = ngsim[i].drop(
                    columns = [
                        NC.O_ZONE, 
                        NC.D_ZONE, 
                        NC.INT_ID, 
                        NC.SECTION_ID, 
                        NC.DIRECTION, 
                        NC.MOVEMENT, 
                        NC.GLOBAL_X, 
                        NC.GLOBAL_Y, 
                        NC.GLOBAL_TIME,
                        NC.LOCATION, 
                        NC.TOTAL_FRAME 
                        ])

In [4]:
i = 0
ngsim[i] = ngsim[i].sort_values([NC.ID, NC.FRAME], ascending=[1,1])

In [7]:
ngsim[i].head()

,Vehicle_ID,Frame_ID,Local_X,Local_Y,v_length,v_Width,v_Class,v_Vel,v_Acc,Lane_ID,Preceding,Following,Space_Headway,Time_Headway
2555981,1,137,52.660,73.916,15.0,6.4,2,25.0,0.0,5,0,0,0.0,0.0
7952522,1,138,52.648,76.416,15.0,6.4,2,25.0,0.0,5,0,0,0.0,0.0
7911821,1,139,52.635,78.915,15.0,6.4,2,25.0,0.0,5,0,0,0.0,0.0
7890998,1,140,52.622,81.416,15.0,6.4,2,25.0,0.0,5,0,0,0.0,0.0
7289640,1,141,52.609,83.916,15.0,6.4,2,25.0,0.0,5,0,0,0.0,0.0

In [8]:
print(len(ngsim[i].index))
print(ngsim[i].duplicated().sum())
# Drop Duplicate rows
ngsim[i] = ngsim[i].drop_duplicates()
print(len(ngsim[i].index))

4802933
704000
4098933

In [9]:
ngsim[i].isnull().sum()

Vehicle_ID       0
Frame_ID         0
Local_X          0
Local_Y          0
v_length         0
v_Width          0
v_Class          0
v_Vel            0
v_Acc            0
Lane_ID          0
Preceding        0
Following        0
Space_Headway    0
Time_Headway     0
dtype: int64

In [10]:
ngsim[i].head(100)

,Vehicle_ID,Frame_ID,Local_X,Local_Y,v_length,v_Width,v_Class,v_Vel,v_Acc,Lane_ID,Preceding,Following,Space_Headway,Time_Headway
2555981,1,137,52.660,73.916,15.0,6.4,2,25.00,0.00,5,0,0,0.0,0.0
7952522,1,138,52.648,76.416,15.0,6.4,2,25.00,0.00,5,0,0,0.0,0.0
7911821,1,139,52.635,78.915,15.0,6.4,2,25.00,0.00,5,0,0,0.0,0.0
7890998,1,140,52.622,81.416,15.0,6.4,2,25.00,0.00,5,0,0,0.0,0.0
7289640,1,141,52.609,83.916,15.0,6.4,2,25.00,0.00,5,0,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3384611,1,232,55.399,312.637,15.0,6.4,2,25.96,0.19,5,0,5,0.0,0.0
7811144,1,233,55.443,315.234,15.0,6.4,2,25.97,0.18,5,0,5,0.0,0.0
5657152,1,234,55.487,317.841,15.0,6.4,2,25.90,-1.17,5,0,5,0.0,0.0
5463165,1,235,55.560,320.440,15.0,6.4,2,25.66,-3.54,5,0,5,0.0,0.0
8474052,1,236,55.575,322.996,15.0,6.4,2,25.28,-4.59,5,0,5,0.0,0.0

In [34]:

for veh_id in list(set(ngsim[i][NC.ID])):
    veh_frame_data = ngsim[i][ngsim[i][NC.ID] == veh_id][NC.FRAME]
    start_frame = veh_frame_data.iloc[0]
    end_frame = veh_frame_data.iloc[-1]
    veh_frame_data = veh_frame_data.to_numpy()
    frame_list = np.arange(start_frame, end_frame+1)
    #print(isinstance(frame_list, pandas.Series))
    print((frame_list))
    print((veh_frame_data))
    print(np.array_equal(veh_frame_data,frame_list))
    break

[137 138 139 140 141 142 143 144 145 146 147 148 149 150 151 152 153 154
 155 156 157 158 159 160 161 162 163 164 165 166 167 168 169 170 171 172
 173 174 175 176 177 178 179 180 181 182 183 184 185 186 187 188 189 190
 191 192 193 194 195 196 197 198 199 200 201 202 203 204 205 206 207 208
 209 210 211 212 213 214 215 216 217 218 219 220 221 222 223 224 225 226
 227 228 229 230 231 232 233 234 235 236 237 238 239 240 241 242 243 244
 245 246 247 248 249 250 251 252 253 254 255 256 257 258 259 260 261 262
 263 264 265 266 267 268 269 270 271 272 273 274 275 276 277 278 279 280
 281 282 283 284 285 286 287 288 289 290 291 292 293 294 295 296 297 298
 299 300 301 302 303 304 305 306 307 308 309 310 311 312 313 314 315 316
 317 318 319 320 321 322 323 324 325 326 327 328 329 330 331 332 333 334
 335 336 337 338 339 340 341 342 343 344 345 346 347 348 349 350 351 352
 353 354 355 356 357 358 359 360 361 362 363 364 365 366 367 368 369 370
 371 372 373 374 375 376 377 378 379 380 381 382 383 384 385 386 387 388
 389 390 391 392 393 394 395 396 397 398 399 400 401 402 403 404 405 406
 407 408 409 410 411 412 413 414 415 416 417 418 419 420 421 422 423 424
 425 426 427 428 429 430 431 432 433 434 435 436 437 438 439 440 441 442
 443 444 445 446 447 448 449 450 451 452 453 454 455 456 457 458 459 460
 461 462 463 464 465 466 467 468 469 470 471 472 473 474 475 476 477 478
 479 480 481 482 483 484 485 486 487 488 489 490 491 492 493 494 495 496
 497 498 499 500 501 502 503 504 505 506 507 508 509 510 511 512 513 514
 515 516 517 518 519 520 521 522 523 524 525 526 527 528 529 530 531 532
 533 534 535 536 537 538 539 540 541 542 543 544 545 546 547 548 549 550
 551 552 553 554 555 556 557 558 559 560 561 562 563 564 565 566 567 568
 569 570 571 572 573 574 575 576 577 578 579 580 581 582 583 584 585 586
 587 588 589 590 591 592 593 594 595 596 597 598 599 600 601 602 603 604
 605 606 607 608 609 610 611 612 613 614 615 616 617 618 619 620 621 622
 623 624 625 626 627 628 629 630 631 632 633 634 635 636 637 638 639 640
 641 642 643 644 645 646 647 648 649 650 651 652 653 654 655 656 657 658
 659 660 661 662 663 664 665 666 667 668 669 670 671 672 673 674 675 676
 677 678 679 680 681 682 683 684 685 686 687 688 689 690 691 692 693 694
 695 696 697 698 699 700 701 702 703 704 705 706 707 708 709 710 711 712
 713 714 715 716 717 718 719 720 721 722 723 724 725 726 727 728 729 730
 731 732 733 734 735 736 737 738 739 740 741 742 743 744 745 746 747 748
 749 750 751 752 753 754 755 756 757 758 759 760 761 762 763 764 765 766
 767 768 769 770 771 772 773 774 775 776 777 778 779 780 781 782 783 784
 785 786 787 788 789 790 791 792 793 794 795 796 797 798 799 800 801 802
 803 804 805 806 807 808 809 810 811 812 813 814 815 816 817 818 819 820
 821 822 823 824 825 826 827 828 829 830 831 832 833 834 835 836 837 838]
[137 138 139 140 141 142 143 144 145 146 147 148 149 150 151 152 153 154
 155 156 157 158 159 160 161 162 163 164 165 166 167 168 169 170 171 172
 173 174 175 176 177 178 179 180 181 182 183 184 185 186 187 188 189 190
 191 192 193 194 195 196 197 198 199 200 201 202 203 204 205 206 207 208
 209 210 211 212 213 214 215 216 217 218 219 220 221 222 223 224 225 226
 227 228 229 230 231 232 233 234 235 236 237 238 239 240 241 242 243 244
 245 246 247 248 249 250 251 252 253 254 255 256 257 258 259 260 261 262
 263 264 265 266 267 268 269 270 270 271 271 272 272 273 273 274 274 275
 275 276 276 277 277 278 278 279 279 280 280 281 281 282 282 283 283 284
 284 285 285 286 286 287 287 288 288 289 289 290 290 291 291 292 292 293
 293 294 294 295 295 296 296 297 297 298 298 299 299 300 300 301 301 302
 302 303 303 304 304 305 305 306 306 307 307 308 308 309 309 310 310 311
 311 312 312 313 313 314 314 315 315 316 316 317 317 318 318 319 319 320
 320 321 321 322 322 323 323 324 324 325 325 326 326 327 327 328 328 329
 329 330 330 331 331 332 332 333 333 334 334 335 335 336 336 337 337 338
 338 339 339 340 340 341 341 342 342 343 343 344 344 345 345 346 346 347
 347 348 348 349 349 350 350 351 351 352 352 353 353 354 354 355 355 356
 356 357 357 358 358 359 359 360 360 361 361 362 362 363 363 364 364 365
 365 366 366 367 367 368 368 369 369 370 370 371 371 372 372 373 373 374
 374 375 375 376 376 377 377 378 378 379 379 380 380 381 381 382 382 383
 383 384 384 385 385 386 386 387 387 388 388 389 389 390 390 391 391 392
 392 393 393 394 394 395 395 396 396 397 397 398 398 399 399 400 400 401
 401 402 402 403 403 404 404 405 405 406 406 407 407 408 408 409 409 410
 410 411 411 412 412 413 413 414 414 415 415 416 416 417 417 418 418 419
 419 420 420 421 421 422 422 423 423 424 424 425 425 426 426 427 427 428
 428 429 429 430 430 431 431 432 432 433 433 434 434 435 435 436 436 437
 437 438 438 439 439 440 440 441 441 442 442 443 443 444 444 445 445 446
 446 447 447 448 448 449 449 450 450 451 451 452 452 453 453 454 454 455
 455 456 456 457 457 458 458 459 459 460 460 461 461 462 462 463 463 464
 464 465 465 466 466 467 467 468 468 469 469 470 470 471 471 472 472 473
 473 474 474 475 475 476 476 477 477 478 478 479 479 480 480 481 481 482
 482 483 483 484 484 485 485 486 486 487 487 488 488 489 489 490 490 491
 491 492 492 493 493 494 494 495 495 496 496 497 497 498 498 499 499 500
 500 501 501 502 502 503 503 504 504 505 505 506 506 507 507 508 508 509
 509 510 510 511 511 512 512 513 513 514 514 515 515 516 516 517 517 518
 518 519 519 520 520 521 521 522 522 523 523 524 524 525 525 526 526 527
 527 528 528 529 529 530 530 531 531 532 532 533 533 534 534 535 535 536
 536 537 537 538 538 539 539 540 540 541 541 542 542 543 543 544 544 545
 545 546 546 547 547 548 548 549 549 550 550 551 551 552 552 553 553 554
 554 555 555 556 556 557 557 558 559 560 561 562 563 564 565 566 567 568
 569 570 571 572 573 574 575 576 577 578 579 580 581 582 583 584 585 586
 587 588 589 590 591 592 593 594 595 596 597 598 599 600 601 602 603 604
 605 606 607 608 609 610 611 612 613 614 615 616 617 618 619 620 621 622
 623 624 625 626 627 628 629 630 631 632 633 634 635 636 637 638 639 640
 641 642 643 644 645 646 647 648 649 650 651 652 653 654 655 656 657 658
 659 660 661 662 663 664 665 666 667 668 669 670 671 672 673 674 675 676
 677 678 679 680 681 682 683 684 685 686 687 688 689 690 691 692 693 694
 695 696 697 698 699 700 701 702 703 704 705 706 707 708 709 710 711 712
 713 714 715 716 717 718 719 720 721 722 723 724 725 726 727 728 729 730
 731 732 733 734 735 736 737 738 739 740 741 742 743 744 745 746 747 748
 749 750 751 752 753 754 755 756 757 758 759 760 761 762 763 764 765 766
 767 768 769 770 771 772 773 774 775 776 777 778 779 780 781 782 783 784
 785 786 787 788 789 790 791 792 793 794 795 796 797 798 799 800 801 802
 803 804 805 806 807 808 809 810 811 812 813 814 815 816 817 818 819 820
 821 822 823 824 825 826 827 828 829 830 831 832 833 834 835 836 837 838]
False

In [5]:
for veh_id in list(set(ngsim[i][NC.ID])):
    print(veh_id)
    print(ngsim[i].head())
    veh_frame_data = ngsim[i][ngsim[i][NC.ID] == veh_id]
    print(veh_frame_data[veh_frame_data[NC.FRAME] == 270])
    break

1
         Vehicle_ID  Frame_ID  Total_Frames    Global_Time  Local_X  Local_Y  \
2555981           1       137           421  1118848770700   52.660   73.916
7952522           1       138           421  1118848770800   52.648   76.416
7911821           1       139           421  1118848770900   52.635   78.915
7890998           1       140           421  1118848771000   52.622   81.416
7289640           1       141           421  1118848771100   52.609   83.916

            Global_X     Global_Y  v_length  v_Width  ...  D_Zone  Int_ID  \
2555981  6451113.236  1873317.970      15.0      6.4  ...     NaN     NaN
7952522  6451114.916  1873316.119      15.0      6.4  ...     NaN     NaN
7911821  6451116.596  1873314.268      15.0      6.4  ...     NaN     NaN
7890998  6451118.277  1873312.417      15.0      6.4  ...     NaN     NaN
7289640  6451119.957  1873310.566      15.0      6.4  ...     NaN     NaN

         Section_ID  Direction  Movement  Preceding  Following  Space_Headway  \
2555981         NaN        NaN       NaN          0          0            0.0
7952522         NaN        NaN       NaN          0          0            0.0
7911821         NaN        NaN       NaN          0          0            0.0
7890998         NaN        NaN       NaN          0          0            0.0
7289640         NaN        NaN       NaN          0          0            0.0

         Time_Headway  Location
2555981           0.0    us-101
7952522           0.0    us-101
7911821           0.0    us-101
7890998           0.0    us-101
7289640           0.0    us-101

[5 rows x 25 columns]
         Vehicle_ID  Frame_ID  Total_Frames    Global_Time  Local_X  Local_Y  \
768484            1       270           569  1118847869000   51.164  112.878
3000262           1       270           421  1118848784000   55.460  410.863

            Global_X     Global_Y  v_length  v_Width  ...  D_Zone  Int_ID  \
768484   6451136.708  1873294.084      47.0      8.5  ...     NaN     NaN
3000262  6451350.134  1873071.425      15.0      6.4  ...     NaN     NaN

         Section_ID  Direction  Movement  Preceding  Following  Space_Headway  \
768484          NaN        NaN       NaN          0          0            0.0
3000262         NaN        NaN       NaN          0          5            0.0

         Time_Headway  Location
768484            0.0    us-101
3000262           0.0    us-101

[2 rows x 25 columns]

The above lines of codes show that there are two different vehicles in the dataset with the same vehicle ids! This makes the preprocessing of the dataset very difficult. Therefore, we cease working on this dataset at least for now.